# IDE
*.sln

# JetBrains Rider / IntelliJ
.idea/
*.sln.iml

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# Visual Studio Code
.vscode/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# MacOS
.DS_Store

# .NET build outputs
bin/
obj/
